.nav {
  display:flex;
  justify-content: space-between;
}

.wishlists-container {
  display: flex;
  flex-wrap: wrap;
}


.wishlist {
  height: 320px;
  width: 300px;
  margin: 10px;
  font-size: 25px;
  text-align: center;
  float: left;
}

.wishlist h1 {
  text-align: center;
  word-wrap: break-word;
  color: #653C53;
}

.newWishBtn {
  /* background: #E1B8B1; */
  color:#F0C951;
  height: 320px;
  width: 300px;
  border: none;
  font-size: 6em;
  cursor: pointer;
  margin: 10px;
  float: left;
  font-family: 'Montserrat', sans-serif;
}

.newWishBtnFont {
  font-size: 20px;
  font-weight: bold;
  color:#653C53;
}

.wishlist input {
  border: 0;
  background: none;
  outline: none;
  width: 298px;
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.wishlist .title {
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.wishlist input:focus {
  border: solid 1px #653C53;
  text-align: center;
  background-color: white;
}

.wishlist footer {
  margin: 5px;
}

.share-container form {
  text-align: center;
}

.share-container input {
  width: 500px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin-top: 5px;
}

.shareButton {
  visibility: hidden;
  float: left;
  margin: 5px;
}

.wishlist:hover .deleteButton {
  visibility: visible;
}

.wishlist:hover .shareButton {
  visibility: visible;
}

.noNotification {
  transition: 500ms all ease;
  opacity: 0;
  will-change: opacity;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.showNotification {
  transition: 200ms all ease;
  opacity: 1;
  font-size: 20px;
  color: #653C53;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.login-container {  
  text-align: center;
}

.login-container input{  
  width: 450px
}
/* 
.logo{  
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
  padding-right: 1em;
  color: #F0C951;
} */

.sortByForm {
  float: right;
}

.activeCard {
  visibility: visible;
}
.inactiveCard {
  opacity: 0.5;
}

.MuiButtonBase-root-103 {
  padding-left: -12;
  padding-right: -12;
} 

.bigWFooter {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.nav h5 {
  font-weight: bold;
  font-size: 28px;
  font-family: 'ABeeZee', sans-serif;
}