.App {
  text-align: center;
}

/* .wishlists {
  display: flex;
  flex-direction: row;
}

.wishlists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.wishlist {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightgrey;
  font-size: 11px;
  text-align: left;
  float: left;
}

.wishlist h2 {
  text-align: center;
  word-wrap: break-word;
}

.newWishBtn {
  background: lightgrey;
  height: 150px;
  width: 150px;
  color: purple;
  border: none;
  font-size: 5em;
  cursor: pointer;
  margin: 10px;
  float: left;
}

.wishlist input {
  border: 0;
  background: none;
  outline: none;
  max-width: 140px;
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 12px;
  text-align: center;
}

.wishlist input:focus {
  border: solid 1px purple;
  text-align: center;
}



