.nav {
  display:flex;
  justify-content: space-between;
}

.wishlist {
  height: 300px;
  width: 300px;
  margin: 10px;
  background: lightgrey;
  font-size: 11px;
  text-align: left;
  float: left;
}

.wishlist h1 {
  text-align: center;
  word-wrap: break-word;
  color: #653C53;
}

.newWishBtn {
  background: lightgrey;
  color:#653C53;
  height: 300px;
  width: 300px;
  border: none;
  font-size: 5em;
  cursor: pointer;
  margin: 10px;
  float: left;
}

.newWishBtnFont {
  font-size: 20px;
}

.wishlist input {
  border: 0;
  background: none;
  outline: none;
  width: 298px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding-top: 12px;
}

.wishlist input:focus {
  border: solid 1px #653C53;
  text-align: center;
  background-color: white;
}

.wishlist footer {
  margin-top: 225px;
  margin-left: 5px;
}

.share-container form {
  text-align: center;
}

.share-container input {
  width: 500px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  color: #FB552F;
  
  font-weight: 900;
}

.shareButton {
  visibility: hidden;
  float: left;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #653C53;
  font-weight: 900;
}
/* .form-deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  color: rgb(165, 5, 5);
  margin-top: 180px;
  font-weight: 900;
  z-index: 1;
} */

.wishlist:hover .deleteButton {
  visibility: visible;
}

.wishlist:hover .shareButton {
  visibility: visible;
}

.noNotification {
  transition: 500ms all ease;
  opacity: 0;
  will-change: opacity;
  font-size: 20px;
}

.showNotification {
  transition: 200ms all ease;
  opacity: 1;
  font-size: 20px;
  color: #653C53;
}

.login-container {  
  text-align: center;
}

.login-container input{  
  width: 450px
}

.logo{  
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
  padding-right: 1em;
  color: #F0C951;
}
