body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-icons{
  font-size: 21px
}

.user-info {
  float:right;
  text-align: right
}

.product form {
  text-align: center
}

/* .product {
  display:flex;
  justify-content: space-between;
  max-width:260px;
  position: relative;
  border:        1px solid #ccc;
  border-radius: 5px;
  padding:       15px;
  padding-bottom: 80px;
  margin-top:    20px;
} */

.product-img{

  max-width: 70px;
  max-height: 70px;
}

.product-img-big-wish{
  max-width: 200px;
}

.bigproduct-img{
  max-width: 350px;
  height: auto;
}

.bigwishlist{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
