Welcome to <%= @sender.username %>'s Wishlist, <%= @mailUser.username %>
===============================================

View the wishlist <a href="http://localhost:3000/">here</a>.
Thanks and have a great day!