#banner {
  display: block;
  position: fixed; 
  left: 0px;
  top: 0px;
  color: #F0C951;
  font-size: 22px;
  background-color: #653c53;
  width: 100vw;
  height: 30px;
  margin-bottom: 30px;
  font-family: 'ABeeZee', sans-serif;
  padding-top: 8px;
  padding-bottom: 3px;
  }

body {
  margin-top: 50px;
  text-align: center;
  width: 250px;
  height: 250px;
  color: #122434;
  font-family: 'Montserrat', sans-serif;
}

.editIcon {
  width: 18px;
  height: 18px;
  display: none;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
}

#editImg{
  margin-top: 15px;
}

#title, #img, #price {
  display: inline;
  margin: 15px 0px 15px 25px;
}

#img {
  max-width: 150px;
  border-width: 1px;
  border-color: transparent;
  border-radius: 7px;
  align-content: center;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.04), 0 6px 6px rgba(0,0,0,0.06); */
}

.heart {
  height: 25px;
  width: 25px;
}

#confirm {
  -moz-box-shadow:inset 0px 39px 0px -24px #e1b9b1;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e1b9b1;
	box-shadow:inset 0px 39px 0px -24px #e1b9b1;
	background-color:#e1b9b1;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:8px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
  color:#122434;
  font-family: 'Montserrat', sans-serif;
	font-size:15px;
	padding: 6px 8px;
  text-decoration:none;
  margin: 10px 0px 20px;
}

#submit {
  -moz-box-shadow:inset 0px 39px 0px -24px #e1b9b1;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e1b9b1;
	box-shadow:inset 0px 39px 0px -24px #e1b9b1;
	background-color:#e1b9b1;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:8px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
  color:#122434;
  font-family: 'Montserrat', sans-serif;
	font-size:15px;
	padding: 6px 8px;
  text-decoration:none;
  margin: 10px 0px 7px;
}

ul {
  margin-top: 10px;
  margin-left: -35px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

li {
  margin-top: -7px;
  margin-bottom: 20px;
  margin-left: 7px;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
}

#rating {
  margin-top: 10px;
  margin-bottom: 18px;
}

input[type=checkbox] {
  margin-left: 10px;
  transform: scale(1.3);
}


#notes {
  font-size: 16px;
  text-align: left;
  margin-left: 12px;
}

textarea {
  margin-top: 7px;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: lightgray
}

#back {
  border-color: transparent;
  float: right;
  font-family: 'Montserrat', sans-serif;
  margin-top: -35px;
  margin-right: 10px;
  font-size: 14px;
  color: #653c53;
}

#loading {
  max-width: 200px
}

#addedProduct {
  font-size: 20px
}

#addedProduct span{
  color: #653c53;
}

#addedLists li{
  font-size: 20px;
  text-align: center;
  color: gray;
}